*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face {
    font-family: Acum;
    src: url(../fonts/AcuminVariableConcept.otf);
}
body{
    font-family: acum;
}
.columnas{
    width: 80%;
    margin: 4em auto;
    justify-items: left;
    button{
        border-radius: 5%;
        border: none;
        outline: none;
        padding: 1em 1.5em;
        font-size: 1rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
        cursor: pointer;
        background: #41B9EB;
        color: white;
        font-weight: bold;
        will-change: backgroud;
        transition: background 1s;

        &hover {
            background: #148abd;
        }
    }
}
.overlay{
    opacity: 1;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}
.share, .overlay{
    display: none;
}

.show-share{
    display: block;
}
.share{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 50%;
    z-index: 1;
    padding: 1em;
    background: white;

    h2 {
        margin: 0;
    }

    button {
        border: none;
        padding: .8em 1.2em;
        margin-top: 3em;
        width: 32%;
        cursor: pointer;
    }
}
.share .overlay{
    display: none;
}
.articulo{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        filter: brightness(70%);
        width: 100%;
    }
    h2{
        margin-top: 1rem;
        font-size: 2.5rem;
        text-indent: 2%;
    }
    p{
        text-indent: 1%;
        text-align: justify;
    }
}
.titulo__articulo{
    font-size: 3rem;
    text-align: justify;
    border-top: solid 3px #148abd;
    padding-top: 1rem;
}
.capital{
    font-size: 120%;
    font-weight: 500;
}
.parrafo{
    width: 90%;
    min-width: 15rem;
    height: auto;
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 1.4;
    background-color: #dee9f2;
    img{
        width: 15rem;
        border-radius: 5%;
        float: left;
        margin-right: 1rem;
        filter: brightness(70%);
    }
}