*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face {
    font-family: Acum;
    src: url(../fonts/AcuminVariableConcept.otf);
}

body{
    font-family: acum;
}
.fondo__celular{
    display: none;
}
.nav{
    background-color: #D9D9D9;
    width: 100%;
    height: 3.125rem;
}
.logo__png{
    width: 2.5rem;
}
.logo__union{
    display: flex;
    height: 100%;
    width: 3rem;
    margin-left: 1.5;
    align-items: center;
    line-height: .75rem;
}
.nav__logo{
    font-size: .75rem;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap:3em;
}
.nav__items{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: .75rem;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__items::after{
    content: "";
    display: block;
    background-color: black;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav__items:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}
.nav__label, .nav__input{
    display: none;
}
.sectionPortada{
    background-image: url(/assets/fondo.png);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    margin: 0 auto;
    width: 90%;
    height: 100vh;
}
.footer{
    background-color: #0981b4;
    width: 100%;
    height: 8rem;
}
.logoFoot__png{
    width: 5rem;
}
.foot__logo{
    font-size: 2.3rem;
    font-weight: 700;
}
.logo__footer{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    line-height: .75rem;
}
@media (max-width: 768px) {
       .nav__label{
            display: block;
            cursor: pointer;
       }
       .nav__menu{
            position: fixed;
            top: 50px;
            bottom: 0rem;
            background: #D9D9D9;
            width: 100%;
            left: 0%;
            display: flex;
            justify-content:space-evenly;
            flex-direction: column;
            align-items:center;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            
       }
       .nav__input:checked + .nav__menu{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       }
       .logoFoot__png{
        width: 4rem;
         }
         .foot__logo{
            font-size: 1.5rem;
            font-weight: 600;
        }
       
}
@media (max-width: 360px) {
    .sectionPortada{
        background-image: url(/assets/fondo_cel.png);
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
        width: 100%;
    }
}