*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face {
    font-family: Acum;
    src: url(../fonts/AcuminVariableConcept.otf);
}

body{
    font-family: acum;
}
.fondo__celular{
    display: none;
}
.nav{
    background-color: #D9D9D9;
    width: 100%;
    height: 3.125rem;
    position: fixed;
}
.logo__png{
    width: 2.5rem;
}
.logo__union{
    display: flex;
    height: 100%;
    width: 3rem;
    margin-left: 1.5;
    align-items: center;
    line-height: .75rem;
    text-decoration: none;
}
.nav__logo{
    font-size: .75rem;
    color: black;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap:3em;
}
.nav__items{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: .75rem;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__items::after{
    content: "";
    display: block;
    background-color: black;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav__items:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__label, .nav__input{
    display: none;
}
.sectionPortada{
    background-image: url(/assets/fondo.png);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    margin: 0 auto;
    width: 90%;
    height: 100vh;
}
.sectionPortadap{
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    margin: 0 auto;
    width: 90%;
    height: 3rem;
}
.footer{
    background-color: #0981b4;
    width: 100%;
    height: 8rem;
}
.logoFoot__png{
    width: 5rem;
}
.foot__logo{
    font-size: 2.3rem;
    font-weight: 700;
}
.logo__footer{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    line-height: .75rem;
}
.separador{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #D9D9D9;
}

.propuestas{
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.propuestas__tarjeta h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.propuestas__tarjeta p{
    width: 90%;
    text-indent: 10%;
    text-align: justify;
}
.propuestas__tarjeta{
    width: 90%;
    border-top: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    border-radius: 5px;
    box-shadow: 5px 7px 7px 2px #0981b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes Slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100% );
    }
}

.carrousel{
    overflow: hidden;
    padding: 3rem 0;
    background: #0981b4;
    white-space: nowrap;
}
.carrousel__slider{
    display: inline-block;
    animation: 20s Slide infinite linear;
}
.carrousel__slider img{
    height:250px;
    margin: 0 2rem;
}

.div__equipo{
    
    background-color: #10395B;
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding: 1rem;
}
.equipo{
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.equipo__titulo{
    grid-column: 1/3;
    font-size: 4.5rem;
    font-weight: 800;
    color:#0981b4;
    align-items: center;
    justify-content: center;
}
.intendente{
    grid-column: 1/3;
}
.cargo{
    padding: .5rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    background-color: #41B9EB;
    width:fit-content;
    color: whitesmoke;
    font-size: 1rem;
}
.intendente h1{
    font-size: 3.5rem;
    color: whitesmoke;
}
.li__nombre{
    font-size: 1.3rem;
    font-weight: 650;
    color: whitesmoke;
}

.cargo__suplente{
    padding: .5rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    background-color: #148abd;
    width:fit-content;
    color: whitesmoke;
    font-size: 1rem;
}
.concejales{
    justify-items: center;
}
.logo__equipo{
    width: 7rem;
}
.formulario{
    margin: 0 auto;
    min-width: 15rem;
    max-width: 70%;
    padding: 1.5rem;
    border-top: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    border-radius: 5px;
    box-shadow: 5px 7px 7px 2px #0981b4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.titulo__form{
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 2rem;
}
.boton{
    grid-column: 1/3;
    width: 10rem;
    justify-content: center;
    
}
@media (max-width: 768px) {
       .nav__label{
            display: block;
            cursor: pointer;
       }
       .propuestas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       }
       .nav__menu{
            position: fixed;
            top: 50px;
            bottom: 0rem;
            background: #D9D9D9;
            width: 100%;
            left: 0%;
            display: flex;
            justify-content:space-evenly;
            flex-direction: column;
            align-items:center;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            
       }
       .nav__input:checked + .nav__menu{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       }
      .logoFoot__png{
        width: 4rem;
         }
         .foot__logo{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .equipo__titulo{
            grid-column: 1;
            font-size: 4.5rem;
            font-weight: 800;
            color:#0981b4;
            align-items: center;
            justify-content: center;
        }
        .intendente{
            grid-column: 1;
        }
       .equipo{
        grid-template-columns: 1fr;
       }
       .equipo__titulo{
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width: 665px) {
    .sectionPortada{
        background-image: url(/assets/fondo.png);
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
        width: 90%;
    }
    .equipo__titulo{
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width: 550px) {
    .propuestas{
        display: grid;
        grid-template-columns: 1fr;
       }
       .propuestas__tarjeta{
        min-width: 15rem;
       }
       .equipo__titulo{
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }
    .intendente{
        grid-column: 1;
}
    .intendente h1{
        font-size: 2.5rem;
    }
    .cargo{
        font-size: .8rem;
    }
    .cargo__suplente{
        font-size: .5rem;
    }
    .li__nombre{
        font-size: 1rem;
        font-weight: 500;
    }
    .equipo{
        min-width: 15rem;
    }
}

@media (max-width:340px ) {
    .sectionPortada{
    background-image: url(/assets/fondo_cel.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }
    .propuestas__tarjeta h2{
        font-size: 1.3rem;
    }
}